@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos personalizados */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f3f4f6;
  color: #111827;
}

/* Botones retro de búsqueda */
button {
  background-color: #1f2937;
  padding: 2px 30px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #3a2f2f;
}
/* styles/LanguageSwitcher.css */
.language-button {
  padding: 8px 16px;
  background-color: #333;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.language-button:hover {
  background-color: #444;
}