@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos personalizados */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f3f4f6;
  color: #111827;
}

/* Botones retro de búsqueda */
button {
  background-color: #1f2937;
  padding: 2px 30px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #3a2f2f;
}